<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  </head>
  <body>

    {% include 'includes/_navbar.html' %}

    <div class="jumbotron text-center">
        <h1 style="margin-top: 50px;">Adjust Your Settings Below!</h1>
        <p>Coming soon.. For now use metaGrabber.py to store settings</p>
        <!-- <p class="lead">Too learn more info on how to access your Plex token click here..</p> -->
      </div>


      <!-- <form action="data" method="POST">

    <input type="text" name="input_data">

    <button type="submit" name="button">Submit</button>
</form> -->
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>
