<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Video Resolution Graphs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  </head>
  <body>

{% include 'includes/_navbar.html' %}

<div class="jumbotron text-center">
    <h1>Start Creating Graphs!</h1>
    <p class="lead">Be sure to setup your account config!</p>
  </div>



<!-- Button to get all 360p Movies -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
  $(function() {
    $('a#test').bind('click', function() {
      $.getJSON('/getMovies360',
          function(data) {
      });
      return false;
    });
  });
</script>
<form>
    <a href=# id=test><button class='btn btn-primary btn-align1'>Click to see all 360p movies</button></a>
</form>


<!-- #Button to get all 480p Movies -->
<script type=text/javascript>
  $(function() {
    $('a#test').bind('click', function() {
      $.getJSON('/getMovies480',
          function(data) {
      });
      return false;
    });
  });

</script>
<form>
    <a href=# id=test><button class='btn btn-primary btn-align2'>Click to see all 480p movies</button></a>
</form>


<!-- #Button to get all 720p Movies -->
<script type=text/javascript>
  $(function() {
    $('a#test').bind('click', function() {
      $.getJSON('/getMovies720',
          function(data) {
      });
      return false;
    });
  });

</script>
<form>
    <a href=# id=test><button class='btn btn-primary btn-align3'>Click to see all 720p movies</button></a>
</form>


<!-- #Button to get all 1080p Movies -->
<script type=text/javascript>
  $(function() {
    $('a#test').bind('click', function() {
      $.getJSON('/getMovies1080',
          function(data) {
      });
      return false;
    });
  });

</script>
<form>
    <a href=# id=test><button class='btn btn-primary btn-align4'>Click to see all 1080p movies</button></a>
</form>


<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>
